<!-- {% load static %} -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- <link href="{% static 'favicon/favicon.ico' %}" rel="icon" type="image/x-icon" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet"> -->
    <title>SendEmails</title>

</head>

<body>
    
    <div class="upper-bar" style="background-image: linear-gradient(to right, #6ad2b7 , #59e993); height: 34px;width: 100%;">
        
    </div>

    <h4 style="margin-left: 25px; font-size:25px;font-family: 'Poppins', sans-serif ;  font-weight: bold; width:450px; word-wrap:break-word; text-decoration: none ;">
        Hey <span style="text-decoration:none ; color: #5dcdb0 ;">{{ name }}</span>!</h4>
    <br>
    <h3 style="margin:0; padding: 0; margin-left: 25px; font-size:25px; font-family: 'Poppins', sans-serif ; color: #241f20 ; font-weight: bold ;">
        Congratulations!!</h3>
    <h4 style="margin:0; padding: 0; margin-left: 25px; font-size:25px; font-family: 'Poppins', sans-serif ; color: #241f20 ; ">
        You have Successfully created account on Find.Dev </h4>
    <br>

    <h4 style="margin:0; padding: 0; margin-left: 25px; font-size:25px; font-family: 'Poppins', sans-serif ; color: #241f20 ; ">
        We are excited to have you on board and we would love to say thank you on behalf of our whole Team for chosing us.</h4>
    <h4 style="margin:0; padding: 0; margin-left: 25px; font-size:25px; font-family: 'Poppins', sans-serif ; color: #241f20 ; ">
        We believe our site will help you in connecting with Developer aroung the world. </h4>
        <br>
        <h4 style="margin:0; padding: 0; margin-left: 25px; font-size:25px; font-family: 'Poppins', sans-serif ; color: #241f20 ; ">    
            Have any questions , need more information or Want to give any feedback? Just shoot us an email! &nbsp; </h4>
        <h4 style="margin:0; padding: 0; margin-left: 25px; font-size:25px; font-family: 'Poppins', sans-serif ; color: #241f20 ; ">
            We are always here to help. &nbsp;</h4>


    <br>    
    <br>
    <div class="made-by" style="display: flex;">
        <span style="display:inline;">
            <h5 style="margin:0; padding: 0; margin-left: 25px;  font-size:21px; font-family: 'Poppins', sans-serif ; color: #808080 ;">
                Made with 🧡 by <img height="24" width="70" src="https://finddev-bucket.s3.ap-south-1.amazonaws.com/Findev.png" style="margin-top: 0px ;" alt="Find.Dev Team"></span>
                <!-- <img src="https://www.github.com/SineshX/Find.Dev/blob/a1f4be2af098577ca2bb95e2083fb1ce0e5638fa/Findev.jpeg?raw=true" alt="Findev.jpeg"> -->
        &nbsp;
       </a></h5></span>
    </div>
    <br>
    <span><h5 style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif ; color: #808080 ; font-weight: normal ;">
        © 2022 Findev.me  All Rights Reserved.</h5></span>

    <br>
    <br>

    <div class="upper-bar" style="background-image: linear-gradient(to right, #6ad2b7 , #59e993); height: 34px;width: 100%;">
       
    </div>

    </body>

</html>